.class_1 {
    float: left;
    -webkit-mask-image:linear-gradient(to right, black, transparent) ;
    mask-image: linear-gradient(to right, black, transparent);
    width: 50%;
    margin-left: 0;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.class_2{
    background-image: linear-gradient(to left,rgb(235, 222, 150), white ) ;
    float: left;
    width: 50%;
    height: 100%;
}
.table_1{
    margin-left: 10px;
    margin-top: 5%;
    list-style-type: none;
    display: flex;
}
a{
    height: 57px;
    display: block;
    color: white;
    text-align: center;
    width: 220px;
    padding: 20px 0px;
    text-decoration: none;
    background-color: black;
}
.rgo{
    padding: 13px 0;
}
a:hover:not(.active){
    background-color: dimgray;
}
li .active{
    background-color: red;
}
label{
    margin-left:130px;
}
input, textarea{   
    margin-bottom:10px ;
    padding: 5px;
}