.class_1 {
    float: left;
    -webkit-mask-image:linear-gradient(to right, black, transparent) ;
    mask-image: linear-gradient(to right, black, transparent);
    width: 50%;
    margin-left: 0;
    
}
*{
    margin: 0;
    padding: 0;
}
.class_2{
    background-image: linear-gradient(to left,rgb(235, 222, 150), white ) ;
    float: left;
    width: 50%;
    height: 100%;
   
}
.class_3{
    margin-top: 5%;
}
span{
    font-size: large;
}
table{
    border-collapse: collapse;
    text-align: center;
    border: 1px black solid;
    margin-top: 2%;
    
}
th{
    background-color: rgb(215, 218, 214);;
    padding: 10px;
    width: 140px;
}
td{
    padding: 10px;

}
