textarea{
    border-radius: 13px;
}
::placeholder{
    color: black;
    text-align: center;
}
input{
    border-radius: 13px;
}
body{
    background-image:url(Bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.class_1{
    position: absolute;
    opacity: 0.5;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    width: 400;
    height: auto;
    color: white; 
    padding: 10px;
}
.class_2 p{
    margin-left: 80px;
}
.class_1 h1{
    margin-left: 30px;
}
.class_2 input{
    width: 300px;
    padding: 5px;
}
.class_3 {
    font-size: larger;
    margin-left:50px ;
}
#class_4 input{
    margin-left: 80px;
    width: 300px;
    padding: 5px;
}
#class_5 input{
    margin-left: 80px;
    width: 300px;
    padding: 5px;
}
#class_6 input{
    margin-left: 80px;
    width: 300px;
    padding: 5px;
}
.login{
    background-color: rgb(20, 230, 13);
    padding: 5px;
    margin-left:140px ;
    width: 150px;
}
